#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 16px;
  margin-top: -15px;
}

#friends-display-link i {
  color: var(--main-border);
  margin-bottom: 10px;
}

.friends-screen {
  padding: var(--horizontal-space);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  /* background-image: url("https://w0.peakpx.com/wallpaper/54/405/HD-wallpaper-you-re-a-good-man-charlie-brown-pattern-snoopy-schulz-peanuts-charlie-brown.jpg");
  background-repeat: no-repeat; */
  background-size: cover;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  animation: hideSplashScreen 3s ease-in-out forwards;
}
